/*Calculate em*/
@function calculateEm($target, $context: $base-font-size) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0em;
}

@function calculateEmN($target, $context: 16) {
   @if $target == 0 { @return 0 }
   $target : number($target);
   @return number($target) / $context + 0 ;
}

/*Calculate rems*/
@function calculateRem($size) {
  $remSize: $size / 10;
  @return #{$remSize}rem;
}

/*Calculate line-heights*/
@function calculateLineHeight($size){
  $size: $size / 1px;
  $line-height: 1;
  @if $size < 19 and $size > 10{
  $line-height: ($size * 1.60);
  }

  @else{
  $line-height: ($size * 1.25);
  }

  @return #{$line-height/10}em;
}
