/*Color*/
/*Typography*/
/*Grid*/
/*Calculate em*/
/*Calculate rems*/
/*Calculate line-heights*/
/*Font face*/
/*Border-radius*/
/*Box-shadow*/
/*Buttons*/
/*HAVE GLOBAL MARGINS TO USE*/
/*HAVE GLOBAL PADDINGS TO USE*/
/* ---- Clearfixes - check if we really need this ---- */
.row:before,
.row:after,
.clearfix:before,
.clearfix:after {
  content: '';
  display: table; }

.row:after,
.clearfix:after {
  clear: both; }

.row,
.clearfix {
  zoom: 1; }

/* ---- GRIDS - check how to do it responsible ---- */
.row {
  width: 100%;
  margin: 0 auto; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  min-height: 0.0625em;
  float: left;
  padding-left: 0.625em;
  padding-right: 0.625em;
  position: relative; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.67%; }

.col-12 {
  width: 100%; }

/* ---- Colors ---- */
.color-black {
  color: #1f1f1f; }

.color-darkGrey {
  color: #3f3f3f; }

.color-mediumGrey {
  color: #d1d1d1; }

.color-lightGrey {
  color: #c8c8c8; }

.color-offWhite {
  color: whitesmoke; }

.color-white {
  color: white; }

.color-blue {
  color: #324c5d; }

.color-green {
  color: #46b19d; }

.color-yellow {
  color: #efc94c; }

.color-orange {
  color: #e3793f; }

.color-red {
  color: #df494a; }

.bgcolor-black {
  background-color: #1f1f1f; }

.bgcolor-darkGrey {
  background-color: #3f3f3f; }

.bgcolor-mediumGrey {
  background-color: #d1d1d1; }

.bgcolor-lightGrey {
  background-color: #c8c8c8; }

.bgcolor-offWhite {
  background-color: whitesmoke; }

.bgcolor-white {
  background-color: white; }

.bgcolor-blue {
  background-color: #324c5d; }

.bgcolor-green {
  background-color: #46b19d; }

.bgcolor-yellow {
  background-color: #efc94c; }

.bgcolor-orange {
  background-color: #e3793f; }

.bgcolor-red {
  background-color: #df494a; }

/* ---- MARGINS make them in em---- */
.m-1px {
  margin: 0.0625em; }

.mt-1px {
  margin-top: 0.0625em; }

.mb-1px {
  margin-bottom: 0.0625em; }

.ml-1px {
  margin-left: 0.0625em; }

.mr-1px {
  margin-right: 0.0625em; }

.m-2px {
  margin: 0.125em; }

.mt-2px {
  margin-top: 0.125em; }

.mb-2px {
  margin-bottom: 0.125em; }

.ml-2px {
  margin-left: 0.125em; }

.mr-2px {
  margin-right: 0.125em; }

.m-5px {
  margin: 0.3125em; }

.mt-5px {
  margin-top: 0.3125em; }

.mb-5px {
  margin-bottom: 0.3125em; }

.ml-5px {
  margin-left: 0.3125em; }

.mr-5px {
  margin-right: 0.3125em; }

.m-10px {
  margin: 0.625em; }

.mt-10px {
  margin-top: 0.625em; }

.mb-10px {
  margin-bottom: 0.625em; }

.ml-10px {
  margin-left: 0.625em; }

.mr-10px {
  margin-right: 0.625em; }

.m-15px {
  margin: 0.9375em; }

.mt-15px {
  margin-top: 0.9375em; }

.mb-15px {
  margin-bottom: 0.9375em; }

.ml-15px {
  margin-left: 0.9375em; }

.mr-15px {
  margin-right: 0.9375em; }

.m-20px {
  margin: 1.25em; }

.mt-20px {
  margin-top: 1.25em; }

.mb-20px {
  margin-bottom: 1.25em; }

.ml-20px {
  margin-left: 1.25em; }

.mr-20px {
  margin-right: 1.25em; }

/* ---- PADDINGS make them in em---- */
.p-1px {
  padding: 0.0625em; }

.pt-1px {
  padding-top: 0.0625em; }

.pb-1px {
  padding-bottom: 0.0625em; }

.pl-1px {
  padding-left: 0.0625em; }

.pr-1px {
  padding-right: 0.0625em; }

.p-2px {
  padding: 0.125em; }

.pt-2px {
  padding-top: 0.125em; }

.pb-2px {
  padding-bottom: 0.125em; }

.pl-2px {
  padding-left: 0.125em; }

.pr-2px {
  padding-right: 0.125em; }

.p-5px {
  padding: 0.3125em; }

.pt-5px {
  padding-top: 0.3125em; }

.pb-5px {
  padding-bottom: 0.3125em; }

.pl-5px {
  padding-left: 0.3125em; }

.pr-5px {
  padding-right: 0.3125em; }

.p-10px {
  padding: 0.625em; }

.pt-10px {
  padding-top: 0.625em; }

.pb-10px {
  padding-bottom: 0.625em; }

.pl-10px {
  padding-left: 0.625em; }

.pr-10px {
  padding-right: 0.625em; }

.p-15px {
  padding: 0.9375em; }

.pt-15px {
  padding-top: 0.9375em; }

.pb-15px {
  padding-bottom: 0.9375em; }

.pl-15px {
  padding-left: 0.9375em; }

.pr-15px {
  padding-right: 0.9375em; }

.p-20px {
  padding: 1.25em; }

.pt-20px {
  padding-top: 1.25em; }

.pb-20px {
  padding-bottom: 1.25em; }

.pl-20px {
  padding-left: 1.25em; }

.pr-20px {
  padding-right: 1.25em; }

/* ---- TEXT Aligns---- */
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

h1 {
  font-size: 30px;
  font-size: 1.875em;
  line-height: 3.75em; }

h2 {
  font-size: 24px;
  font-size: 1.5em;
  line-height: 3em; }

h3 {
  font-size: 18px;
  font-size: 1.125em;
  line-height: 2.88em; }

h4 {
  font-size: 16px;
  font-size: 1em;
  line-height: 2.56em; }

h5 {
  font-size: 13px;
  font-size: 0.8125em;
  line-height: 2.08em; }

h6 {
  font-size: 11px;
  font-size: 0.6875em;
  line-height: 1.76em; }

.big-text {
  font-size: 30px;
  font-size: 1.875em;
  line-height: 3.75em; }

.normal-text {
  font-size: 18px;
  font-size: 1.125em;
  line-height: 2.88em; }

.small-text {
  font-size: 11px;
  font-size: 0.6875em;
  line-height: 1.76em; }

a {
  color: #df494a;
  text-decoration: none;
  line-height: inherit; }

a:hover {
  color: #df494a; }

a:focus {
  color: #df494a;
  outline: none; }

p {
  margin-bottom: 0.625em;
  padding: 0;
  font-size: 0.875em;
  line-height: 1.75em; }

p span {
  color: #46aae3; }

p a,
p a:visited {
  line-height: inherit; }

/* ---- Lists ---- */
ul, ol, dl {
  font: normal 14px/24px "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  margin-bottom: 8px;
  list-style-position: inside;
  text-indent: 5px;
  color: #333333; }

ul li ul,
ul li ol {
  margin-left: 15px;
  margin-bottom: 0; }

ul.square {
  list-style-type: square; }

ul.circle {
  list-style-type: circle; }

ul.disc {
  list-style-type: disc; }

ul.no-bullet {
  list-style: none; }

ul.square li ul,
ul.circle li ul,
ul.disc li ul,
ul.no-bullet li ul {
  margin-left: 15px; }

ol li ul, ol li ol {
  margin-left: 20px;
  margin-bottom: 0; }

dl dt {
  font-size: 16px;
  line-height: 24px; }

dl dd {
  margin-left: 15px; }
