/* ---- Colors ---- */
.color-black{
  color: $color-black;
}

.color-darkGrey{
  color: $color-darkGrey;
}

.color-mediumGrey{
  color: $color-mediumGrey;
}
.color-lightGrey{
  color: $color-lightGrey;
}
.color-offWhite{
  color: $color-offWhite;
}
.color-white{
  color: $color-white;
}
.color-blue{
  color: $color-blue;
}
.color-green{
  color: $color-green;
}
.color-yellow{
  color: $color-yellow;
}
.color-orange{
  color: $color-orange;
}
.color-red{
  color: $color-red;
}

.bgcolor-black{
  background-color: $color-black;
}

.bgcolor-darkGrey{
  background-color: $color-darkGrey;
}

.bgcolor-mediumGrey{
  background-color: $color-mediumGrey;
}
.bgcolor-lightGrey{
  background-color: $color-lightGrey;
}
.bgcolor-offWhite{
  background-color: $color-offWhite;
}
.bgcolor-white{
  background-color: $color-white;
}
.bgcolor-blue{
  background-color: $color-blue;
}
.bgcolor-green{
  background-color: $color-green;
}
.bgcolor-yellow{
  background-color: $color-yellow;
}
.bgcolor-orange{
  background-color: $color-orange;
}
.bgcolor-red{
  background-color: $color-red;
}