
/* ---- Lists ---- */
ul, ol, dl { 
  font: normal 14px/24px "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
  margin-bottom: 8px; 
  list-style-position: inside; 
  text-indent: 5px; 
  color: #333333; 
}
ul li ul, 
ul li ol { 
  margin-left: 15px; 
  margin-bottom: 0;
}
ul.square {list-style-type: square;}
ul.circle {list-style-type: circle;}
ul.disc {list-style-type: disc;}
ul.no-bullet { list-style: none; }

ul.square li ul, 
ul.circle li ul, 
ul.disc li ul, 
ul.no-bullet li ul {
  margin-left: 15px; 
}
ol li ul, ol li ol { 
  margin-left: 20px; 
  margin-bottom: 0; 
}
dl dt {
  font-size:16px; 
  line-height: 24px;
}
dl dd {
  margin-left: 15px;
}