//Config variables

  //em breakpoints on/off
  $em_active:false;
    //All media queries on/off
  $mq:true;
  //Breakpoint media queries on/off
  $MQ_xs:true;$MQ_sm:true;$MQ_md:true;$MQ_xl:true;


//Import variables and mixins

  @import '../../sass_helpers/_variables';
  @import '../../sass_helpers/_mixins';
  @import '../../sass_helpers/_modernizr';

/* ==========================================================================
   Responsive Framework
   ========================================================================== */
@include break(grid_xxl){  

  .col1 {
    width: $col-1;
  }

  .col2 {
    width: $col-2;
  }

  .col3 {
    width: $col-3;
  }

  .col4 {
    width: $col-4;
  }

  .col5 {
    width: $col-5;
  }

  .col6 {
    width: $col-6;
  }

  .col7 {
    width: $col-7;
  }

  .col8 {
    width: $col-8;
  }

  .col9 {
    width: $col-9;
  }

  .col10 {
    width: $col-10;
  }

  .col11 {
    width: $col-11;
  }

  .col12 {
    width: $col-12;
  }

  .col-auto{
    width: auto;
  }

  .hidden-xl{
    display: none;
  }

  .container{
    padding:0 35px;
  }

}

/**
 * Media Querie for large devices
 */
 
 @include break(grid_xl) {
  .hidden-xl{display: none;}
  .hidden-md{display: none;}
  .hidden-sm{display: none;}
  .hidden-xs{display: none;}
  .visible-xl{display: inherit;}
  .col-xl-1 {width: $col-1;}
  .col-xl-2 {width: $col-2;}
  .col-xl-3 {width: $col-3;}
  .col-xl-4 {width: $col-4;}
  .col-xl-5 {width: $col-5;}
  .col-xl-6 {width: $col-6;}
  .col-xl-7 {width: $col-7;}
  .col-xl-8 {width: $col-8;}
  .col-xl-9 {width: $col-9;}
  .col-xl-10 {width: $col-10;}
  .col-xl-11 {width: $col-11;}
  .col-xl-12 {width: $col-12;}
  
  html {font-size: 60.5%;}
}



/**
 * Media Querie for medium devices
 */
 @include break(grid_md) {
  .hidden-xl{display: none;}
  .hidden-md{display: none;}
  .hidden-sm{display: none;}
  .hidden-xs{display: none;}
  .visible-md{display: inherit;}

  .col-md-1 {width: $col-1;}
  .col-md-2 {width: $col-2;}
  .col-md-3 {width: $col-3;}
  .col-md-4 {width: $col-4;}
  .col-md-5 {width: $col-5;}
  .col-md-6 {width: $col-6;}
  .col-md-7 {width: $col-7;}
  .col-md-8 {width: $col-8;}
  .col-md-9 {width: $col-9;}
  .col-md-10 {width: $col-10;}
  .col-md-11 {width: $col-11;}
  .col-md-12 {width: $col-12;}

  h1,.h1 {
  @include fontSize($font-size2);
  }

  h2,.h2 {
    @include fontSize($font-size3);
  }

  h3,.h3 {
    @include fontSize($font-size4);
  }

  h4,.h4 {
    @include fontSize($font-size5);
  }
  h5,.h5 {
     @include fontSize($font-size5);
  }

  /*html {font-size: 58.5%;}*/

  .pa0-md{
    padding:0;
  }
}

/**
 * Media Querie for medium and small devices
 */
@include break(grid_sm) {
  .container{padding:0 10px;}
  .hidden-xl{display: none;}
  .hidden-md{display: none;}
  .hidden-sm{display: none;}
  .hidden-xs{display: none;}
  .visible-sm{display: inherit;}

  .col-sm-1 {width: $col-1;}
  .col-sm-2 {width: $col-2;}
  .col-sm-3 {width: $col-3;}
  .col-sm-4 {width: $col-4;}
  .col-sm-5 {width: $col-5;}
  .col-sm-6 {width: $col-6;}
  .col-sm-7 {width: $col-7;}
  .col-sm-8 {width: $col-8;}
  .col-sm-9 {width: $col-9;}
  .col-sm-10 {width: $col-10;}
  .col-sm-11 {width: $col-11;}
  .col-sm-12 {width: $col-12;}

  /*html{font-size: 56.5%;}*/

  h1,.h1 {
  @include fontSize($font-size2);
  }

  h2,.h2 {
    @include fontSize($font-size3);
  }

  h3,.h3 {
    @include fontSize($font-size4);
  }

  h4,.h4 {
    @include fontSize($font-size5);
  }
   h5,.h5 {
     @include fontSize($font-size5);
   }

  footer{
    margin-top:0;
    height:auto;
  }

  .pa0-sm{
    padding:0;
  }
  .pt20-sm{
   padding-top:20px; 
  }
  .pb20-sm{
   padding-bottom:20px; 
  }  
}

/**
 * Media Querie for small devices
 */
@include break(grid_xs) {

   .container{padding:0 10px;}

  .hidden-xl{display: none;}
  .hidden-md{display: none;}
  .hidden-sm{display: none;}
  .hidden-xs{display: none;}
  .visible-xs{display: inherit;}

  .col-xs-1 {width: $col-1;}
  .col-xs-2 {width: $col-2;}
  .col-xs-3 {width: $col-3;}
  .col-xs-4 {width: $col-4;}
  .col-xs-5 {width: $col-5;}
  .col-xs-6 {width: $col-6;}
  .col-xs-7 {width: $col-7;}
  .col-xs-8 {width: $col-8;}
  .col-xs-9 {width: $col-9;}
  .col-xs-10 {width: $col-10;}
  .col-xs-11 {width: $col-11;}
  .col-xs-12 {width: $col-12;}

 /* html{font-size: 54.5%;}*/

  h1,.h1 {
  @include fontSize($font-size2);
  }

  h2,.h2 {
    @include fontSize($font-size3);
  }

  h3,.h3 {
    @include fontSize($font-size4);
  }

  h4,.h4 {
    @include fontSize($font-size5);
  }
   h5,.h5 {
     @include fontSize($font-size5);
   }

  footer{
    margin-top:0;
    height: auto;
  }

  .pa0-xs{
    padding:0;
  }
  .pt20-xs{
   padding-top:20px; 
  }
  .pb20-xs{
   padding-bottom:20px; 
  }

}

/**
 * Flexible images and add 1% if device is lower than grid
 */
@include break(max_lg){
  img {
    height: auto;
    max-width:100%;
  }
  .container{
    max-width:100%;
    padding:0 35px;
  }
}

@include break(min_sm) {
  html{overflow-y:scroll;}
}



